<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connStringTaxi" connectionString="Data Source=DESKTOP-6F9RC63;Initial Catalog=Taxi;Persist Security Info=True;User ID=Admin;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="Taxi.Properties.Settings.TaxiConnectionString" connectionString="Data Source=DESKTOP-6F9RC63;Initial Catalog=Taxi;User ID=Admin;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings> 
</configuration>